<div class="grid-container">
<div  class="grid-x medium-up-3 grid-margin-x grid-margin-y grid-padding-x grid-padding-y">

    <div class="cell card-container" *ngFor="let activity of activities">

        <div class="grid-x">

            <div class="cell text-center activity-icon-container">
                <span class="activity-count" id="{{activity.name}}-activity-count">{{activity.count}}</span>
                <div class="activity-icon">
                    <img [src]="activity.img" alt="activity.{{activity.name}}">
                </div>
            </div>

            <div class="cell text-center">

                <div class="grid-x align-middle align-center">
                    <div class="cell shrink">
                        <span class="level-flag" id="{{activity.name}}-activity-lvl">
                            Lvl. {{activity.lvl}}
                        </span>
                        <div id="{{activity.id}}"><strong><span class="activity-name" id="activity-name"> {{activity.name}}</span></strong></div>
                    </div>

                </div>

                <div class="stat-container">
                    <div class="stat-title">Rewards</div>
                    <div class="stat-box">
                        <div class="stat-item"><span id="{{activity.name}}-activity-reward"></span>{{activity.reward}} <img class="magic-icon" src="./assets/magic-icon.png" alt="magic-icon xs"></div>
                        <div class="stat-item"><span>{{activity.expGain}}</span> <img class="reward-icon" src="./assets/xp-icon.png" alt="magic-icon"></div>
                    </div>
                </div>

            </div>

            <div class="cell text-center">
             <div class="req-container">
                 <div class="req-title">Requirements</div>
                <div class="req-box">
                    <div class="req-item"><img class="min-icon" src="./assets/strength-icon.png" alt="strength-icon"><span id="{{activity.name}}-activity-str"></span>{{activity.str}}</div>
                    <div class="req-item"><img class="min-icon" src="./assets/beauty-icon.png" alt="beauty-icon"> <span id="{{activity.name}}-activity-beauty"></span>{{activity.beauty}}</div>
                    <div class="req-item"><img class="min-icon" src="./assets/intelligence-icon.png" alt="intelligence-icon"> <span id="{{activity.name}}-activity-int"></span>{{activity.intelligence}}</div>
                    <div class="req-item"><img class="min-icon" src="./assets/speed-icon.png" alt="speed-icon"> <span id="{{activity.name}}-activity-speed"></span>{{activity.speed}}</div>
                </div>
            </div>
            </div>

            <div class="cell">

                <div [class.hidden]="activity.isrunning === false" class="bar space"><span [style.width.%]="width"></span></div>

            </div>

            <div class="cell text-center align-self-middle space magic-button">
                <button [disabled]="checkActivities(activity.id)" class="button primary magic-button" (click)="purchaseActivity(activity.cost, activity.id)">
                    {{activity.cost}}<img class="magic-icon" src="./assets/magic-icon.png" alt="magic-icon"></button>
            </div>

        </div>

    </div>
</div>

</div>

