<!--- This is the animal select HTML Object ---->

<div class="grid-container">

  <h2 class="text-center padding-y">Animal Select</h2>

  <div class="grid-x small-up-5 grid-padding-x">

        <div *ngFor="let animal of animals" class="cell text-center auto">

            <div class="grid-x">

              <div class="cell">
                <div><img [src]="animal.icon" alt=""></div>
                <div class="mat-headline">{{animal.name}}</div>
                <div class="mat-body-1">{{animal.description}}</div>
              </div>

              <div class="cell spacing">
                <button mat-raised-button (click)="selectedAnimal(animal.id)" [routerLink]="['/game', animal.id]"> Select {{animal.name}}</button>
              </div>

            </div>

          </div>

    </div>

</div>
<!--- This is the end of the animal select HTML Object ---->
