<!--- This is the animal output html block ---->

<div class="grid-x animal-container">

    <div *ngFor="let animal of animals"  [className]="animal.selected ? 'cell' : 'hide cell'">

        <div *ngIf="animal.selected === true" class="grid-x">

            <div id="animal-id" class="cell hide">{{animal.id}}</div>


            <div class="cell text-center animal-img" (click)="createAllMagic()"><img src="../../assets/animals/{{animal.name}}/{{animal.name}}-{{animal.evolveLvl}}.png" alt="{{animal.name}}"></div>


            <div class="cell text-center animal-name-lvl">

                <div class="animal-lvl">Lvl: <span id="animal-lvl">{{animal.lvl}}</span></div>
                <div class="subhead animal-name">{{animal.name}}</div>

            </div>

            <div class="cell">

                <div class="evolve-button">
                    <app-evolve-engine></app-evolve-engine>
                </div>

                <ul class="animal-details">
                    <li class="animal-stat"><img class="min-icon" src="./assets/intelligence-icon.png" alt="strength-icon"> <span id="animal-int">{{animal.intelligence}}</span></li>
                    <li class="animal-stat"><img class="min-icon" src="./assets/beauty-icon.png" alt="strength-icon"> <span id="animal-beauty">{{animal.beauty}}</span></li>
                    <li class="animal-stat"><img class="min-icon" src="./assets/strength-icon.png" alt="strength-icon"> <span id="animal-str">{{animal.str}}</span></li>
                    <li class="animal-stat"><img class="min-icon" src="./assets/speed-icon.png" alt="strength-icon"> <span id="animal-speed">{{animal.speed}}</span></li>
                </ul>

            </div>

            <div id="needed-xp" class="cell xp-bar">

                <div class="xp-bar-container">
                    <p class="xp-bar-text">
                        <span id="current-xp">{{animal.currentExperience}}</span>/<span id="animal-exp">{{animal.experienceNeeded}}</span>
                    </p>
                    <progress class="alert xp-bar-progress" max="{{animal.experienceNeeded.toFixed(2)}}" value="{{animal.currentExperience.toFixed(2)}}"></progress>
                </div>

                <!-- <mat-progress-bar mode="determinate" value="{{animal.currentExperience}}"></mat-progress-bar> -->

            </div>


        </div>

    </div>

</div>

<!--- This is the end of the animal output html block ---->
