<!--- This is the general game content block ---->
<div class="grid-container full">
<app-save-load></app-save-load>
</div>
<div class="grid-container full">
  <div class="grid-x grid-padding-x padding-y medium-up-2">

    <div class="cell activities-wall ">

      <mat-tab-group>
        <mat-tab label="One">
          <app-activities-engine></app-activities-engine>
        </mat-tab>
        <mat-tab label="Two">
          <app-wonderland-engine></app-wonderland-engine>
        </mat-tab>
      </mat-tab-group>

    </div>

    <div class="cell animal-wall">
      <div class="grid-x grid-margin-y">
        <div class="cell animal-wall-section">
          <app-animal-engine></app-animal-engine>
        </div>
        <div class="cell magic-wall-section">
          <app-magic-engine></app-magic-engine>
          <div class="cell text-center button-container">
            <div class="cell" >
              <button id="magicButton" (click)="createAllMagic()" class="button primary">Make Magic</button>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
<!--- This is the end of the general game content block ---->
