<!--- This is the general game content block ---->
<div class="grid-container full game-wall">
    <div class="grid-x grid-padding-x">
        <div class="cell">
<div class="grid-container">
  <div class="grid-x grid-padding-x medium-up-2">
    <div class="cell game-logo">
      <img src="../../assets/pet_logo.png">
    </div>
      <div class="cell">
        <app-save-load></app-save-load>
      </div>
  </div>

</div>

<div class="grid-container full">
  <div class="grid-x grid-padding-x">

    <div class="cell medium-5 activities-wall">

      <div class="grid-x grid-padding-y">

          <div class="cell">
            <div class="magic-count"><app-magic-engine></app-magic-engine></div>
          </div>

        <div class="cell tab-group">

          <mat-tab-group>

            <mat-tab>
              <ng-template mat-tab-label>
                Caretakers
                <i class="material-icons md-18"
                   matTooltip="These are Animal Activities, use these to get more magic and too help upgrade Skills"
                   matTooltipPosition="above"
                   matTooltipClass="tooltip-red"
                >info</i>
              </ng-template>
              <app-caretaker-engine></app-caretaker-engine>
            </mat-tab>

            <mat-tab>
              <ng-template mat-tab-label>
                Activities
                <i class="material-icons md-18"
                   matTooltip="These are Animal Activities, use these to get more magic and too help upgrade Skills"
                   matTooltipPosition="above"
                   matTooltipClass="tooltip-red"
                >info</i>
              </ng-template>
              <app-activities-engine></app-activities-engine>
            </mat-tab>

            <mat-tab>
              <ng-template mat-tab-label>
                Items
                <i class="material-icons md-18"
                   matTooltip="These Items to help imporove your Animals Skills so they can run activites"
                   matTooltipPosition="above"
                   matTooltipClass="tooltip-red"
                >info</i>
              </ng-template>
              <app-wonderland-engine></app-wonderland-engine>
            </mat-tab>

          </mat-tab-group>

        </div>

      </div>

    </div>

    <div class="cell medium-7 animal-wall">

        <app-animal-engine></app-animal-engine>

    </div>

  </div>
</div>

        </div>
    </div>
</div>
<!--- This is the end of the general game content block ---->
