/* You can add global styles to this file, and also import other style files */
@import url(~@angular/material/prebuilt-themes/indigo-pink.css);
/* Theme for the ripple elements.*/
/* stylelint-disable material/no-prefixes */
/* stylelint-enable */
.mat-badge-content {
  font-weight: 600;
  font-size: 12px;
  font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-badge-small .mat-badge-content {
  font-size: 9px; }

.mat-badge-large .mat-badge-content {
  font-size: 24px; }

.mat-h1, .mat-headline, .mat-typography h1 {
  font: 400 24px/32px Roboto, "Helvetica Neue", sans-serif;
  margin: 0 0 16px; }

.mat-h2, .mat-title, .mat-typography h2 {
  font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
  margin: 0 0 16px; }

.mat-h3, .mat-subheading-2, .mat-typography h3 {
  font: 400 16px/28px Roboto, "Helvetica Neue", sans-serif;
  margin: 0 0 16px; }

.mat-h4, .mat-subheading-1, .mat-typography h4 {
  font: 400 15px/24px Roboto, "Helvetica Neue", sans-serif;
  margin: 0 0 16px; }

.mat-h5, .mat-typography h5 {
  font: 400 11.62px/20px Roboto, "Helvetica Neue", sans-serif;
  margin: 0 0 12px; }

.mat-h6, .mat-typography h6 {
  font: 400 9.38px/20px Roboto, "Helvetica Neue", sans-serif;
  margin: 0 0 12px; }

.mat-body-strong, .mat-body-2 {
  font: 500 14px/24px Roboto, "Helvetica Neue", sans-serif; }

.mat-body, .mat-body-1, .mat-typography {
  font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif; }
  .mat-body p, .mat-body-1 p, .mat-typography p {
    margin: 0 0 12px; }

.mat-small, .mat-caption {
  font: 400 12px/20px Roboto, "Helvetica Neue", sans-serif; }

.mat-display-4, .mat-typography .mat-display-4 {
  font: 300 112px/112px Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: -0.05em;
  margin: 0 0 56px; }

.mat-display-3, .mat-typography .mat-display-3 {
  font: 400 56px/56px Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: -0.02em;
  margin: 0 0 64px; }

.mat-display-2, .mat-typography .mat-display-2 {
  font: 400 45px/48px Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: -0.005em;
  margin: 0 0 64px; }

.mat-display-1, .mat-typography .mat-display-1 {
  font: 400 34px/40px Roboto, "Helvetica Neue", sans-serif;
  margin: 0 0 64px; }

.mat-bottom-sheet-container {
  font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif; }

.mat-button, .mat-raised-button, .mat-icon-button, .mat-stroked-button,
.mat-flat-button, .mat-fab, .mat-mini-fab {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 500; }

.mat-button-toggle {
  font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-card {
  font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-card-title {
  font-size: 24px;
  font-weight: 500; }

.mat-card-header .mat-card-title {
  font-size: 20px; }

.mat-card-subtitle,
.mat-card-content {
  font-size: 14px; }

.mat-checkbox {
  font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-checkbox-layout .mat-checkbox-label {
  line-height: 24px; }

.mat-chip {
  font-size: 14px;
  font-weight: 500; }
  .mat-chip .mat-chip-trailing-icon.mat-icon,
  .mat-chip .mat-chip-remove.mat-icon {
    font-size: 18px; }

.mat-table {
  font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-header-cell {
  font-size: 12px;
  font-weight: 500; }

.mat-cell, .mat-footer-cell {
  font-size: 14px; }

.mat-calendar {
  font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-calendar-body {
  font-size: 13px; }

.mat-calendar-body-label,
.mat-calendar-period-button {
  font-size: 14px;
  font-weight: 500; }

.mat-calendar-table-header th {
  font-size: 11px;
  font-weight: 400; }

.mat-dialog-title {
  font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif; }

.mat-expansion-panel-header {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: 400; }

.mat-expansion-panel-content {
  font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif; }

.mat-form-field {
  font-size: inherit;
  font-weight: 400;
  line-height: 1.125;
  font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-form-field-wrapper {
  padding-bottom: 1.34375em; }

.mat-form-field-prefix .mat-icon,
.mat-form-field-suffix .mat-icon {
  font-size: 150%;
  line-height: 1.125; }
.mat-form-field-prefix .mat-icon-button,
.mat-form-field-suffix .mat-icon-button {
  height: 1.5em;
  width: 1.5em; }
  .mat-form-field-prefix .mat-icon-button .mat-icon,
  .mat-form-field-suffix .mat-icon-button .mat-icon {
    height: 1.125em;
    line-height: 1.125; }

.mat-form-field-infix {
  padding: 0.5em 0;
  border-top: 0.84375em solid transparent; }

.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,
.mat-form-field-can-float .mat-input-server:focus + .mat-form-field-label-wrapper .mat-form-field-label {
  transform: translateY(-1.34375em) scale(0.75);
  width: 133.3333333333%; }
.mat-form-field-can-float .mat-input-server[label]:not(:label-shown) + .mat-form-field-label-wrapper
.mat-form-field-label {
  transform: translateY(-1.34374em) scale(0.75);
  width: 133.3333433333%; }

.mat-form-field-label-wrapper {
  top: -0.84375em;
  padding-top: 0.84375em; }

.mat-form-field-label {
  top: 1.34375em; }

.mat-form-field-underline {
  bottom: 1.34375em; }

.mat-form-field-subscript-wrapper {
  font-size: 75%;
  margin-top: 0.6666666667em;
  top: calc(100% - 1.7916666667em); }

.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 1.25em; }
.mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0.4375em 0; }
.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,
.mat-form-field-appearance-legacy.mat-form-field-can-float .mat-input-server:focus + .mat-form-field-label-wrapper .mat-form-field-label {
  transform: translateY(-1.28125em) scale(0.75) perspective(100px) translateZ(0.001px);
  -ms-transform: translateY(-1.28125em) scale(0.75);
  width: 133.3333333333%; }
.mat-form-field-appearance-legacy.mat-form-field-can-float .mat-form-field-autofill-control:-webkit-autofill + .mat-form-field-label-wrapper
.mat-form-field-label {
  transform: translateY(-1.28125em) scale(0.75) perspective(100px) translateZ(0.00101px);
  -ms-transform: translateY(-1.28124em) scale(0.75);
  width: 133.3333433333%; }
.mat-form-field-appearance-legacy.mat-form-field-can-float .mat-input-server[label]:not(:label-shown) + .mat-form-field-label-wrapper
.mat-form-field-label {
  transform: translateY(-1.28125em) scale(0.75) perspective(100px) translateZ(0.00102px);
  -ms-transform: translateY(-1.28123em) scale(0.75);
  width: 133.3333533333%; }
.mat-form-field-appearance-legacy .mat-form-field-label {
  top: 1.28125em; }
.mat-form-field-appearance-legacy .mat-form-field-underline {
  bottom: 1.25em; }
.mat-form-field-appearance-legacy .mat-form-field-subscript-wrapper {
  margin-top: 0.5416666667em;
  top: calc(100% - 1.6666666667em); }

@media print {
  .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,
  .mat-form-field-appearance-legacy.mat-form-field-can-float .mat-input-server:focus + .mat-form-field-label-wrapper .mat-form-field-label {
    transform: translateY(-1.28122em) scale(0.75); }
  .mat-form-field-appearance-legacy.mat-form-field-can-float .mat-form-field-autofill-control:-webkit-autofill + .mat-form-field-label-wrapper
  .mat-form-field-label {
    transform: translateY(-1.28121em) scale(0.75); }
  .mat-form-field-appearance-legacy.mat-form-field-can-float .mat-input-server[label]:not(:label-shown) + .mat-form-field-label-wrapper
  .mat-form-field-label {
    transform: translateY(-1.2812em) scale(0.75); } }
.mat-form-field-appearance-fill .mat-form-field-infix {
  padding: 0.25em 0 0.75em 0; }
.mat-form-field-appearance-fill .mat-form-field-label {
  top: 1.09375em;
  margin-top: -0.5em; }
.mat-form-field-appearance-fill.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,
.mat-form-field-appearance-fill.mat-form-field-can-float .mat-input-server:focus + .mat-form-field-label-wrapper .mat-form-field-label {
  transform: translateY(-0.59375em) scale(0.75);
  width: 133.3333333333%; }
.mat-form-field-appearance-fill.mat-form-field-can-float .mat-input-server[label]:not(:label-shown) + .mat-form-field-label-wrapper
.mat-form-field-label {
  transform: translateY(-0.59374em) scale(0.75);
  width: 133.3333433333%; }

.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 1em 0 1em 0; }
.mat-form-field-appearance-outline .mat-form-field-label {
  top: 1.84375em;
  margin-top: -0.25em; }
.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,
.mat-form-field-appearance-outline.mat-form-field-can-float .mat-input-server:focus + .mat-form-field-label-wrapper .mat-form-field-label {
  transform: translateY(-1.59375em) scale(0.75);
  width: 133.3333333333%; }
.mat-form-field-appearance-outline.mat-form-field-can-float .mat-input-server[label]:not(:label-shown) + .mat-form-field-label-wrapper
.mat-form-field-label {
  transform: translateY(-1.59374em) scale(0.75);
  width: 133.3333433333%; }

.mat-grid-tile-header,
.mat-grid-tile-footer {
  font-size: 14px; }
  .mat-grid-tile-header .mat-line,
  .mat-grid-tile-footer .mat-line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    box-sizing: border-box; }
    .mat-grid-tile-header .mat-line:nth-child(n+2),
    .mat-grid-tile-footer .mat-line:nth-child(n+2) {
      font-size: 12px; }

input.mat-input-element {
  margin-top: -0.0625em; }

.mat-menu-item {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 400; }

.mat-paginator,
.mat-paginator-page-size .mat-select-trigger {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 12px; }

.mat-radio-button {
  font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-select {
  font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-select-trigger {
  height: 1.125em; }

.mat-slide-toggle-content {
  font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-slider-thumb-label-text {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 12px;
  font-weight: 500; }

.mat-stepper-vertical, .mat-stepper-horizontal {
  font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-step-label {
  font-size: 14px;
  font-weight: 400; }

.mat-step-sub-label-error {
  font-weight: normal; }

.mat-step-label-error {
  font-size: 14px; }

.mat-step-label-selected {
  font-size: 14px;
  font-weight: 500; }

.mat-tab-group {
  font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-tab-label, .mat-tab-link {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 500; }

.mat-toolbar,
.mat-toolbar h1,
.mat-toolbar h2,
.mat-toolbar h3,
.mat-toolbar h4,
.mat-toolbar h5,
.mat-toolbar h6 {
  font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
  margin: 0; }

.mat-tooltip {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 10px;
  padding-top: 6px;
  padding-bottom: 6px; }

.mat-tooltip-handset {
  font-size: 14px;
  padding-top: 8px;
  padding-bottom: 8px; }

.mat-list-item {
  font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-list-option {
  font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-list-base .mat-list-item {
  font-size: 16px; }
  .mat-list-base .mat-list-item .mat-line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    box-sizing: border-box; }
    .mat-list-base .mat-list-item .mat-line:nth-child(n+2) {
      font-size: 14px; }
.mat-list-base .mat-list-option {
  font-size: 16px; }
  .mat-list-base .mat-list-option .mat-line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    box-sizing: border-box; }
    .mat-list-base .mat-list-option .mat-line:nth-child(n+2) {
      font-size: 14px; }
.mat-list-base .mat-subheader {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 500; }

.mat-list-base[dense] .mat-list-item {
  font-size: 12px; }
  .mat-list-base[dense] .mat-list-item .mat-line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    box-sizing: border-box; }
    .mat-list-base[dense] .mat-list-item .mat-line:nth-child(n+2) {
      font-size: 12px; }
.mat-list-base[dense] .mat-list-option {
  font-size: 12px; }
  .mat-list-base[dense] .mat-list-option .mat-line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    box-sizing: border-box; }
    .mat-list-base[dense] .mat-list-option .mat-line:nth-child(n+2) {
      font-size: 12px; }
.mat-list-base[dense] .mat-subheader {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 12px;
  font-weight: 500; }

.mat-option {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px; }

.mat-optgroup-label {
  font: 500 14px/24px Roboto, "Helvetica Neue", sans-serif; }

.mat-simple-snackbar {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px; }

.mat-simple-snackbar-action {
  line-height: 1;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500; }

.mat-tree {
  font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-tree-node,
.mat-nested-tree-node {
  font-weight: 400;
  font-size: 14px; }

.mat-ripple {
  overflow: hidden;
  position: relative; }

.mat-ripple.mat-ripple-unbounded {
  overflow: visible; }

.mat-ripple-element {
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  transition: opacity, transform 0ms cubic-bezier(0, 0, 0.2, 1);
  transform: scale(0); }
  @media (-ms-high-contrast: active) {
    .mat-ripple-element {
      display: none; } }

.cdk-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none; }

.cdk-overlay-container, .cdk-global-overlay-wrapper {
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; }

.cdk-overlay-container {
  position: fixed;
  z-index: 1000; }
  .cdk-overlay-container:empty {
    display: none; }

.cdk-global-overlay-wrapper {
  display: flex;
  position: absolute;
  z-index: 1000; }

.cdk-overlay-pane {
  position: absolute;
  pointer-events: auto;
  box-sizing: border-box;
  z-index: 1000;
  display: flex;
  max-width: 100%;
  max-height: 100%; }

.cdk-overlay-backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  pointer-events: auto;
  -webkit-tap-highlight-color: transparent;
  transition: opacity 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
  opacity: 0; }
  .cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
    opacity: 1; }
    @media screen and (-ms-high-contrast: active) {
      .cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
        opacity: 0.6; } }

.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, 0.32); }

.cdk-overlay-transparent-backdrop, .cdk-overlay-transparent-backdrop.cdk-overlay-backdrop-showing {
  opacity: 0; }

.cdk-overlay-connected-position-bounding-box {
  position: absolute;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  min-width: 1px;
  min-height: 1px; }

.cdk-global-scrollblock {
  position: fixed;
  width: 100%;
  overflow-y: scroll; }

@keyframes cdk-text-field-autofill-start {
  /*!*/ }
@keyframes cdk-text-field-autofill-end {
  /*!*/ }
.cdk-text-field-autofill-monitored:-webkit-autofill {
  animation-name: cdk-text-field-autofill-start; }

.cdk-text-field-autofill-monitored:not(:-webkit-autofill) {
  animation-name: cdk-text-field-autofill-end; }

textarea.cdk-textarea-autosize {
  resize: none; }

textarea.cdk-textarea-autosize-measuring {
  height: auto !important;
  overflow: hidden !important;
  padding: 2px 0 !important;
  box-sizing: content-box !important; }

.texture {
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0; }
  .texture .game-wall {
    background-color: #0a2632; }

.bar {
  height: 20px;
  /* Can be anything */
  position: relative;
  background: #555;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  padding: 10px;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3); }
  .bar span {
    display: block;
    height: 100%;
    background-color: #000;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 25px; }
  .bar.hidden {
    display: none; }

.hidden {
  display: none; }

.padding-y {
  padding-top: 2em;
  padding-bottom: 2em; }
  .padding-y.no-top {
    padding-top: 0; }
  .padding-y.no-bottom {
    padding-bottom: 0; }

.padding-x {
  padding-left: 2em;
  padding-right: 2em; }

.space {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem; }

.button {
  background-color: #289D8F !important;
  margin: 0 5px;
  border-radius: 3px;
  border: 3px solid #fff; }
  .button.primary {
    border-radius: 15px;
    background-color: #289D8F !important; }
    .button.primary:hover {
      background-color: #1e746a; }
    .button.primary:focus {
      outline: none;
      background-color: #1e746a; }
    .button.primary:disabled {
      background-color: #1e746a; }
      .button.primary:disabled:hover {
        background-color: #1e746a; }
  .button.magic-button {
    position: relative;
    width: 80%;
    padding: .55em 0.5em; }

.magic-icon {
  position: relative;
  width: 30px;
  bottom: 2px; }
  .magic-icon.xs {
    width: 23px; }

.min-icon {
  position: relative;
  width: 30px;
  bottom: 2px; }
  .min-icon.xs {
    width: 23px; }

.stat-container {
  padding: 5px 0; }
  .stat-container .stat-box {
    background-color: #eeeeee;
    font-size: 10pt;
    width: 100%;
    border-radius: 5px;
    margin: auto; }
    .stat-container .stat-box .stat-item {
      display: inline-block;
      padding: 5px 5px;
      color: #289D8F; }
      .stat-container .stat-box .stat-item img {
        width: 20px; }

.req-container {
  padding: 5px 0; }
  .req-container .req-box {
    background-color: #eeeeee;
    font-size: 8pt;
    width: 100%;
    border-radius: 5px;
    margin: auto; }
    .req-container .req-box .req-item {
      display: inline-block;
      padding: 5px 5px;
      color: #289D8F; }
      .req-container .req-box .req-item img {
        width: 15px; }

.game-logo img {
  width: 150px; }
.game-logo.home img {
  width: 300px; }

.material-icons {
  font-size: 14px;
  bottom: 7px;
  position: relative; }

.mat-tab-header {
  margin-bottom: 25px; }

.tooltip-red {
  background: #b71c1c;
  font-size: 12px; }

.mat-tab-group {
  margin-bottom: 48px; }

.details {
  font-size: 12px; }

.animal-card {
  max-width: 300px; }

.animal-wall {
  background-image: url(assets/animals/dragon_background.png);
  background-repeat: no-repeat;
  background-position: top; }

.animal-img {
  max-width: 300px;
  margin: 0 auto; }

.card-container {
  background-color: white;
  border-radius: 5px; }

.mat-tab-label {
  opacity: 1 !important; }
  .mat-tab-label .mat-tab-label-content {
    font-size: 1.5rem !important;
    color: #fff !important; }

body,
html {
  font-size: 16px;
  font-family: "Fjalla One", sans-serif;
  color: #284653;
  background-color: #0a2632; }

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: "Fjalla One", sans-serif;
  margin-bottom: 0.6rem;
  font-weight: bold;
  line-height: 100%; }
  h1 a, .h1 a,
  h2 a, .h2 a,
  h3 a, .h3 a,
  h4 a, .h4 a,
  h5 a, .h5 a,
  h6 a, .h6 a {
    text-decoration: none; }
    h1 a:hover, .h1 a:hover,
    h2 a:hover, .h2 a:hover,
    h3 a:hover, .h3 a:hover,
    h4 a:hover, .h4 a:hover,
    h5 a:hover, .h5 a:hover,
    h6 a:hover, .h6 a:hover {
      text-decoration: none; }

h1, .h1 {
  font-size: 2.5rem; }

h2, .h2 {
  font-size: 1.8rem; }

h3, .h3 {
  font-size: 1.3rem; }

h4, .h4 {
  font-size: 1.25rem; }

h5, .h5 {
  font-size: 1.2rem; }

h6, .h6 {
  font-size: 1rem; }

.subhead {
  font-size: 0.8rem;
  font-weight: 800; }
  .subhead.lg {
    font-size: 1.2rem; }

.items-container .item-card-container {
  background-color: #fff;
  border-radius: 10px; }

.xp-bar {
  position: relative; }
  .xp-bar .xp-bar-container {
    display: inline-block;
    position: absolute;
    height: 1rem;
    width: 53%;
    left: 24%;
    margin: 0 auto;
    top: 0; }
    .xp-bar .xp-bar-container .xp-bar-text {
      position: absolute;
      font-size: 12px;
      color: #ffffff;
      z-index: 25;
      margin: 0 auto;
      width: 100%;
      left: 50%;
      top: 0; }

progress {
  border-radius: 10px !important;
  background-color: #289D8F !important;
  height: 1.2rem;
  margin: 0 auto;
  position: relative;
  width: 100%;
  z-index: 15; }

.min-stats {
  position: relative;
  margin-top: 5px;
  list-style: none;
  margin-left: 0; }
  .min-stats li {
    font-size: 12px;
    display: inline-block;
    padding-right: 10px;
    position: relative; }
  .min-stats:after {
    content: '';
    width: 200px;
    height: 1px;
    position: absolute;
    background-color: #c5c5c5;
    top: 0;
    left: 0; }

.activity-icon-container {
  position: relative; }
  .activity-icon-container .activity-icon img {
    width: 50%; }
  .activity-icon-container .activity-count {
    position: absolute;
    background: #289D8F;
    color: #fff;
    border-radius: 150px;
    width: 25px;
    height: 25px;
    top: -8px;
    left: 64%;
    font-size: 15px;
    border: 1px solid #000; }

.detail-header {
  font-size: 12px; }

.level-flag {
  font-size: 14px;
  padding-right: 5px; }

.caretaker-block {
  border-radius: 5px;
  background-color: #fab376;
  color: #fff;
  border: 3px solid #fff; }
  .caretaker-block .caretaker-img {
    position: relative; }
    .caretaker-block .caretaker-img .caretaker-lvl {
      text-align: center;
      position: absolute;
      background: #289D8F;
      color: #fff;
      border-radius: 150px;
      width: 25px;
      height: 25px;
      top: 0;
      left: 80%;
      font-size: 15px;
      border: 2px solid #fff; }

.item-block {
  background-color: #fff; }
  .item-block .item-img {
    position: relative; }
    .item-block .item-img img {
      width: 120px; }
    .item-block .item-img .item-lvl {
      text-align: center;
      position: absolute;
      background: #289D8F;
      color: #fff;
      border-radius: 150px;
      width: 25px;
      height: 25px;
      top: 0;
      left: 67%;
      font-size: 15px;
      border: 1px solid #000; }
  .item-block .item-reward-container {
    display: block;
    background-color: #d5d5d5;
    border-radius: 5px;
    padding: 5px; }
    .item-block .item-reward-container .item-reward {
      display: inline;
      padding-right: 10px; }
      .item-block .item-reward-container .item-reward img {
        width: 35px; }

.animal-container {
  min-height: 600px; }
  .animal-container .animal-details {
    list-style: none;
    text-align: center;
    background-color: #d5d5d5;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    width: 45%; }
    .animal-container .animal-details .animal-stat {
      color: #289D8F;
      display: inline-block;
      padding-right: 25px; }
  .animal-container .animal-name-lvl .animal-lvl {
    display: inline;
    padding-right: 25px; }
  .animal-container .animal-name-lvl .animal-name {
    display: inline; }
  .animal-container .animal-img {
    height: 478px;
    position: relative;
    margin: auto; }
    .animal-container .animal-img img {
      position: relative;
      top: 210px; }

.magic-number {
  background-color: #fab376;
  border-radius: 5px;
  border: 3px solid #fff; }
  .magic-number #magicTotal {
    color: #fff;
    font-size: 2rem;
    font-weight: 800; }

/*# sourceMappingURL=styles.css.map */
