.activity-name{

}

.min-stats{

    position:relative;
    margin-top: 5px;
    list-style: none;
    margin-left: 0;


        li{
            font-size: 12px;
            display: inline-block;
            padding-right: 10px;
            position: relative;

        }


    &:after {
        content: '';
        width: 200px;
        height: 1px;
        position: absolute;
        background-color: #c5c5c5;
        top: 0;
        left: 0;
    }

}

.activity-icon-container {
    position:relative;

    .activity-icon {

        img {

            width: 50%;
        }

    }

    .activity-count{
        position: absolute;
        background: $color-primary;
        color: #fff;
        border-radius: 150px;
        width: 25px;
        height: 25px;
        top: -8px;
        left: 64%;
        font-size: 15px;
        border: 1px solid #000;
    }
}

.detail-header{
    font-size: 12px;
}

.level-flag{

    font-size:14px;
    padding-right:5px;

}
