.texture{

    //background-image: url(assets/webdecorations/circles-light.png);
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    .game-wall{
        background-color: #0a2632;
    }
}



.bar {

    height: 20px; /* Can be anything */
    position: relative;
    background: #555;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 10px;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);

    span {
        display: block;
        height: 100%;
        background-color: #000;
        position:absolute;
        left:0;
        bottom:0;
        border-radius:25px;
    }

    &.hidden {
        display:none;
    }
}

.hidden{
    display:none;
}

// Spacing -------------------------------------------------------------------------------------------------------------

.padding-y {
    padding-top: $whitespace;
    padding-bottom: $whitespace;
    &.no-top {
        padding-top: 0;
    }
    &.no-bottom {
        padding-bottom: 0;
    }
}
.padding-x {
    padding-left: $whitespace;
    padding-right: $whitespace;
}

.space{
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}


//Global Button Styling ------------------------------------------------------------------------------------------------

.button{

    background-color: $color-primary !important;
    margin: 0 5px;
    border-radius: 3px;
    border: 3px solid #fff;

    &.primary {

        border-radius:15px;
        background-color: $color-primary !important;

        &:hover{
            background-color: darken($color-primary, 10%);
        }

        &:focus{
                outline: none;
            background-color: darken($color-primary, 10%);
        }

        &:disabled{
            background-color: darken($color-primary, 10%);
            &:hover{
                background-color: darken($color-primary, 10%);
            }
        }
    }

    &.magic-button{
        position:relative;
        width:80%;
        padding: .55em 0.5em;
    }

}

//Global Icon Styling --------------------------------------------------------------------------------------------------

.magic-icon {
    position: relative;
    width:30px;
    bottom: 2px;

    &.xs{
        width: 23px;
    }
}

.min-icon {
    position: relative;
    width:30px;
    bottom: 2px;

    &.xs{
        width: 23px;
    }
}

//Reward Container -----------------------------------------------------------------------------------------------------

.stat-container{
    padding:5px 0;

    .stat-box{

        background-color: lighten($color-gray, 40%);
        font-size:10pt;
        width:100%;
        border-radius:5px;
        margin:auto;

        .stat-item{
            display:inline-block;
            padding: 5px 5px;
            color:$color-primary;
            img{
                width:20px;
            }
        }
    }
}

.req-container{
    padding:5px 0;

    .req-box{

        background-color: lighten($color-gray, 40%);
        font-size:8pt;
        width:100%;
        border-radius:5px;
        margin:auto;

        .req-item{
            display:inline-block;
            padding: 5px 5px;
            color:$color-primary;

            img{
                width:15px;
            }
        }
    }
}

.game-logo{
    img {
        width: 150px;
    }

    &.home{
        img{
            width: 300px;

        }
    }
}

.material-icons{
    font-size: 14px;
    bottom: 7px;
    position: relative;
}

.mat-tab-header {
    margin-bottom: 25px;
}

.tooltip-red {
    background: #b71c1c;
    font-size:12px;
}

.mat-tab-group {
    margin-bottom: 48px;
}

.details{
    font-size:$font-small;
}

.animal-card{
    max-width:300px;
}

.animal-wall{
    background-image: url(assets/animals/dragon_background.png);
    background-repeat: no-repeat;
    background-position: top;
}

.animal-img{

    max-width: 300px;
    margin: 0 auto;
}

.card-container {

    background-color: white;
    border-radius: 5px;
}

//Mat Library Overrides

.mat-tab-label{
    opacity:1 !important;

    .mat-tab-label-content{
        font-size: 1.5rem !important;
        color:#fff !important;
    }
}

